<table style="overflow-x:auto;">
		<thead>
			<tr>
				<th></th>
				<th><strong style="color: turquoise;">Publications</strong></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><img src="assets/images/forbes.png" height="100px"></td>
				<td><img src="assets/images/asaf-forbes.png" height="50%"></td>
				<td></td>
			</tr>
			<tr>
				<td><img src="assets/images/newstack.png" height="100px"></td>
				<td><a href="https://thenewstack.io/the-roi-of-ai-driven-security-automation-metrics-that-matter/" target="_blank"><img src="assets/images/mate-newstack.png" height="50%"></a></td>
			</tr>
			<tr>
				<td><img src="assets/images/secblvd.png" height="100px"></td>
				<td><a href="https://securityboulevard.com/2025/11/swiss-cheese-security-how-detection-tuning-creates-vulnerabilities/" target="_blank"><img src="assets/images/mate-oren-secblvd.png" height="50%"></a></td>
			</tr>

			<tr>
				<td><img src="assets/images/infoq.png" height="100px"></td>
				<td><a href="https://www.infoq.com/articles/lambda-migration-k8s-jobs/" target="_blank"></a> <img src="assets/images/liav-infoq.png" height="50%"></a></td>
			</tr>
			

            <tr>
				<th></th>
				<th><strong style="color: turquoise;">Podcasts & Shows</strong></th>
			</tr>

			<tr>
				<td><img src="assets/images/kub-podcast.png" height="100px"></td>
				<td><a href="https://kubernetespodcast.com/episode/153-komodor/" target="_blank"><img src="assets/images/kubpod-itiel.png" height="50%"></a></td>
			</tr>
            	<tr>
				<td><img src="assets/images/newstack.png" height="100px"></td>
				<td><a href="https://thenewstack.io/how-opentofu-happened-and-whats-next/" target="_blank"><img src="assets/images/ohad-newstack-pod.png" height="50%"></a></td>
			</tr>
			
			<tr>
				<td><img src="assets/images/codestory.png" height="100px"></td>
				<td><a href="https://codestory.co/podcast/bonus-keren-fanan-myop/" target="_blank"><img src="assets/images/codestory-myop.png" height="50%"></a></td>
			</tr>
		</tbody>

		<tr>
				<td><img src="assets/images/semaphore.png" height="100px"></td>
				<td><a href="https://semaphore.io/blog/keren-fanan-hadar-geva-myop" target="_blank"><img src="assets/images/semaphore-myop.png" height="50%"></a></td>
			</tr>
		</tbody>
		
		 <!-- <tfoot>
			<tr>
				<td colspan="2"></td>
				<td>100.00</td>
			</tr>
		</tfoot> 
	</table> 